<div style="width:100%; border:1px solid black; border-collapse: collapse;">
<p>
  <div><b>Hello <%= credentials.name %>!</b></div>
  <div>Something went wrong with your WissKI Cloud Instance <%= credentials.domain %>, it could not provisioned! <br /></div>
  <div>Message: <%= credentials.message %></div>
  <div>Please login in your WissKI Cloud Account, delete the instance and try again. If the problem remains, please contact <a href="mailto:cloud@wiss-ki.eu">our staff.</a></div>
</p>
